* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --black: #333;
  --white: #fff;
  --blue: #002fff;
}

.dark {
  --black: #fff;
  --white: #333;
  --blue: #dc143c;
}

body {
  background-color: var(--white);
}

/* logo and menu */
header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 100px;
  z-index: 10000;
}

header .logo {
  position: relative;
  display: inline-flex;
  color: var(--black);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.right-side {
  display: flex;
}

.btns {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
}

.btns i {
  font-size: 1.5rem;
  color: var(--black);
}

.btns.menu-toggle i {
  font-size: 2rem;
}

.btns i:nth-child(2) {
  display: none;
}

.btns.active i:nth-child(2) {
  display: block;
}

.btns.active i:nth-child(1) {
  display: none;
}

/* sidebar navigation */
.navigation {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  z-index: 4;
  transition: 0.5s;
}

.navigation.active {
  left: 0;
}

.navigation li {
  list-style: none;
}

.navigation li a {
  display: inline-flex;
  margin: 5px 0;
  font-size: 1.35em;
  text-decoration: none;
  color: var(--black);
  padding: 5px 20px;
  border-radius: 40px;
  transition: 0.3s;
}

.navigation li a:hover {
  background-color: var(--black);
  color: var(--white);
}

/* page content */

#gallery-video {
  /* color: whitesmoke; */
  padding-bottom: 4rem;
}

#gallery-video .row {
  margin-top: 2rem;
}

.gallery-video-h {
  margin-top: 5rem;
}

/* .gallery-video-h, */
.gallery-video-disclaimer {
  text-align: center;
  margin-top: 4.5rem;
  color: var(--black);
  font-size: 2.5rem;
  padding: 1rem;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4), 0px 4px 5px rgba(0, 0, 0, 0.1),
    0px 7px 5px rgba(0, 0, 0, 0.1); /* readable text */
}

.gallery-video-disclaimer {
  margin-top: initial;
  font-size: 1rem;
}

.gallery-video-disclaimer a {
  color: var(--blue);
  text-decoration: none;
  transition: 0.5s;
}

.gallery-video-disclaimer a:hover {
  text-decoration: underline;
}

.gallery-wrap-video {
  max-width: 112vh;
  max-height: 55vh;
}

#gallery-video .gallery-video-text {
  max-width: 90%;
}

#gallery-video .row:nth-of-type(odd) .gallery-video-text h2 {
    clip-path: polygon(100% 0%, 87% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background-color: antiquewhite;
    text-align: center;
    min-width: 90%;
    padding: 1.2rem;
}

#gallery-video .row:nth-of-type(even) .gallery-video-text h2 {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    /* sign arrow */
    background-color: antiquewhite;
    text-align: center;
    min-width: 45%;
    padding: 1.2rem;
}

h1.gallery-video-h, 
h2,
h4 {
  color: var(--blue);
}

p {
  color: var(--black);
}

.button {
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
  background-color: var(--blue);
  border: solid var(--blue);
  border-radius: 15px;
  padding: 0.7rem;
  text-transform: capitalize;
  transition: 0.5s;
}

.button:hover {
  color: var(--blue);
  background-color: #fff;
}

/* footer */
footer {
  margin-top: 1.2rem;
  padding-bottom: 2rem;
}

.copyright {
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--black);
  margin-bottom: 0;
}

.social {
  font-size: 1.5rem;
}

.social a {
  text-decoration: none;
  color: var(--black);
  margin-right: 20px;
}

.social .fa-facebook:hover {
  color: #1515e2;
}

.social .fa-instagram:hover {
  color: orangered;
}

.social .fa-youtube:hover {
  color: crimson;
}

/* responsive-mobile for the menu and footer */
@media (max-width: 768px) {
  header {
    padding: 20px;
  }

  .copyright {
    font-size: 1rem;
  }

  /* logo, button-theme and menu be more visible while scrolling */
  header i,
  header .logo {
    padding: 10px;
    border-radius: 50%;
    background-color: var(--white);
  }
}

/* for the gallery */
@media (min-width: 992px) {
  .gallery-video-h {
    position: relative;
    right: 12.5rem;
  }

  #gallery-video .row:nth-of-type(even) .gallery-video-text {
    text-align: right;
  }
}

@media (max-width: 991px) {
  .gallery-wrap-video {
    max-width: 90%;
  }

  #gallery-video .row:nth-of-type(even) .gallery-video-text {
    text-align: center;
  }

  #gallery-video .row .gallery-video-text {
    text-align: center;
    margin-top: 1.7rem;
  }
}
